.reservation-wrapper {
    height:25rem;
}

.form-wrapper {
    margin: 3rem auto;
    position: relative;
    border: solid;
    border-radius: 0.5rem;
    width:50%;
    height: 9rem;
}

.page {
    position: absolute;
    top:0.5rem;
    right: 0.5rem;
}

.input-fields {
    margin-left: 4rem;
    margin-top: 1rem;
}

.back-next-button {
    margin-top: 5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: end;
    gap:0.5rem
}